.signUp {
    max-width: 40%;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: rgba(26, 166, 183, 0.2);
    box-shadow: 5px 5px rgba(128, 128, 128, 0.6);
}

/* title changes on hover */
.title-beauty {
    font-weight: bolder;
    background-color: #002d40;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    padding: 1%;
    border-radius: 20px;
    max-width: 25rem;
    border-color: #002d40;
    text-underline-offset: 0.5rem;
    margin-bottom: 2rem;
}

.title-beauty:hover {
    border-color: #002d40;
}

/* input Tag */
.input-acc {
    border-width: 0.1rem;
    border-radius: 30px;
    border-color: rgba(0, 45, 64, 0.5);
    text-align: left;
    margin-bottom: 2%;
    margin-top: 2%;
    color: #002d40;
    font-weight: 500;
    padding: 0.6rem 0 0.6rem 1rem;
}

/* p Tag placement */
.input-acc::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 45, 64, 0.6);
}

/* p Tag hover */
.input-acc:hover {
    background-color: rgba(26, 166, 183, 0.3);
    border-color: #1aa6b7;
    color: #002d40;
    font-weight: 500;
}

.btn-div {
    margin-top: 4%;
    text-align: center;
}

.btn-acc {
    background-color: #002d40 !important;
    padding: 1% 10% !important;
    font-weight: 800 !important;
    font-size: 1.3rem;
    border-radius: 30px;
}